{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<h3 style="margin-buttom:-4px" class="">Login with your Social Account</h3>
<hr/>

<button type="button" class="btn btn-outline-primary">
    <a href="{% url "social:begin" 'facebook' %}"
    class="btn btn-block btn-primary" >
       <span class="fa fa-facebook"></span>  Login with Facebook
   </a></button>
<button type="button" class="btn btn-outline-secondary">
    <a href="{% url "social:begin" 'twitter' %}"
    class="btn btn-block btn-info">
           <span class="fa fa-twitter"></span>  Login with Twitter
       </a></button>

<button type="button" class="btn btn-outline-success">
    <a href="{% url "social:begin" 'github' %}" 
    class="btn btn-block btn-default">
            <span class="fa fa-github"></span>  Login with Github
        </a></button>

<button type="button" class="btn btn-outline-success">
    <a href="{% url "socialgoogle:begin" 'google-oauth2' %}" 
    class="btn btn-block btn-danger">
            <span class="fa fa-google"></span>  Login with Google
        </a></button>
        

{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
