{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
    <a href="{% url "social:begin" 'facebook' %}?next ={{ request.path }}" style="center"><i class="fa fa-facebook-square" style="font-size:48px;color:rgb(59, 89, 152)"></i></a>
    <a href="{% url "social:begin" 'github' %}?next ={{ request.path }}"><i class="fa fa-github-square" style="font-size:48px;color:black"></i></a>
    <a href="{% url "social:begin" 'twitter' %}?next ={{ request.path }}"><i class="fa fa-twitter-square" style="font-size:48px;color:rgb(0, 132, 180)"></i></a>

</form>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
