{% extends "base_wide.html" %}
{% load i18n l10n staticfiles wger_extras cache %}

{% block title %}{% endblock %}

{% block header %}
<script src="{% static 'js/angularjs/angular.js' %}"></script>
<script>
"use strict";

angular.module("workoutTimer", ["ngRoute", "ngResource", "ngAnimate"])
    .constant('dataUrl', "/api/v2/day/{{ day.pk }}/canonical_representation/")
    .config(function ($routeProvider) {
        $routeProvider.when("/timer/:step", {
            templateUrl: "/workout/timer/partials/timer"
        });

        $routeProvider.when("/step/:step", {
            templateUrl: "/workout/timer/partials/step"
        });

        $routeProvider.when("/finish", {
            templateUrl: "/workout/timer/partials/finish"
        });

        $routeProvider.otherwise({
            templateUrl: "/workout/timer/partials/overview"
        });
    });
</script>
<script src="{% static 'js/angularjs/ng-modules/angular-route.js' %}"></script>
<script src="{% static 'js/angularjs/ng-modules/angular-resource.js' %}"></script>
<script src="{% static 'js/angularjs/ng-modules/angular-animate.js' %}"></script>
<script src="{% static 'js/angularjs/controllers/timer.js' %}"></script>

{% endblock %}

{% block content %}
    <div data-ng-app="workoutTimer">
        <data-ng-view class="timer-step"></data-ng-view>
    </div>
{% endblock %}



<!--
        Side bar
-->
{% block sidebar %}

{% endblock %}
