{% extends extend_template %}
{% load i18n staticfiles wger_extras %}

{% block header %}

{{ form.media }}

{% if custom_js %}
<script type="text/javascript">
    {{custom_js|safe}}
</script>
{% endif %}
{% endblock %}


{% block title %}{{title}}{% endblock %}


{% block content %}
<form action="{{form_action}}"
      method="post"
      class="form-horizontal"
      role="form"
      {% if enctype %}enctype="{{enctype}}"{% endif %}>
    {% render_form_fields form submit_text %}
</form>

{% endblock %}
<!--
        Side bar
-->
{% block sidebar %}
<h3>Register with your Social Account</h3>
    <hr/>
    <a href="{% url "social:begin" 'facebook' %}"
     class="btn btn-block btn-primary" >
        <span class="fa fa-facebook"></span>Register with Facebook
    </a>
    <a href="{% url "social:begin" 'twitter' %}"
     class="btn btn-block btn-info">
            <span class="fa fa-twitter"></span>Register with Twitter
        </a>
        <a href="{% url "social:begin" 'github' %}" 
        class="btn btn-block btn-default">
                <span class="fa fa-github"></span>Register with Github
            </a>
{% endblock %}
